
.orders{
	display: flex;
	padding-top: 30px;
	display:flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 10px;
}

.orderSelect{
	display:flex;
	flex-direction: column;
}

.orderSelect h5{
	margin-bottom: 0;
}

.orderSelect select {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin: 0 10px;
	background-color: #fff;
	color: #333;
	width: 85%;
}

.orderSelect select:focus {
	outline: none;
	border-color: #007bff;
}

.orderSelect option {
	background-color: #fff;
	color: #333;
}

.orderSelect option:hover {
	background-color: #007bff;
	color: #fff;
}
