.selectContainer {
	display: flex;
	justify-content: space-evenly;
}

.selectRed {
	background-color: azure;
	width: 200px;
	height: 55px;
	top: 328px;
	left: 503px;
	border-radius: 12px;
	margin-bottom: 20px;
	border-color: red;
	margin-bottom: 5px;
	margin-top: 20px;
}
.selectGreen {
	background-color: azure;
	width: 200px;
	height: 55px;
	top: 328px;
	left: 503px;
	border-radius: 12px;
	margin-bottom: 20px;
	border-color: green;
	margin-bottom: 5px;
	margin-top: 20px;
}

.formContainer {
	width: 519px;
	height: auto;
	top: 241px;
	left: 460px;
	border-radius: 15px;
	border-radius: 15px;
	background: linear-gradient(180deg, #ffb0cb 0%, #ffee93 100%);
	backdrop-filter: blur(2px);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	gap: 20px;
	margin: auto;
}
.Field {
	background-color: azure;
	width: 420px;
	height: 55px;
	top: 328px;
	left: 503px;
	border-radius: 12px;
	margin-bottom: 5px;
	margin-top: 20px;
}
.FielTextarea {
	background-color: azure;
	width: 420px;
	height: 110px;
	top: 328px;
	left: 503px;
	border-radius: 12px;
	margin-bottom: 5px;
	margin-top: 20px;
}
.form {
	/* position:relative; */
	padding-top: 30px;
	gap: 20px;
}
.tittle {
	color: #000;
	font-family: Telex;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: auto;
	height: 61.881px;
	flex-shrink: 0;
	fill: #ffee93;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	/* position: absolute; */
	top: auto;
}
